@font-face {
    font-family: 'olympic_carrier_halftone_itIt';
    src: url('./assets//font/olympiccarrierhalfital-webfont.woff2') format('woff2'),
         url('./assets//font/olympiccarrierhalfital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::selection {
    color: none;
    background: none;
}
::-moz-selection {
    color: none;
    background: none;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('./assets/low-angle-view-of-spiral-staircase-against-black-background-247676.jpg');
    background-size: cover; 
    background-position: center;
    text-align: center;
    color: #20242A;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    top: 8%;
    margin: auto;
}

.gameBoard {
    font-family: 'Trade Winds';
    font-size: 2rem;
    display: inline-flex;
    flex-direction: column;
    border: 3.5px solid #FCEC09;
    text-shadow: -1.5px 0 #20242A, 0 1.5px #20242A, 1.5px 0 #20242A, 0 -1.5px #20242A;
    background-color: rgb(2, 109, 197);
}


.title {
    color: #FCEC09;
    text-shadow: -2px 0 rgb(2, 109, 197), 0 2px rgb(2, 109, 197), 2px 0 rgb(2, 109, 197), 0 2px rgb(2, 109, 197);
    font-size: 5.3rem;
    font-family: 'olympic_carrier_halftone_itIt';
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}
    
td {
    font-family: 'Trade Winds';
    font-size: 20px;
    width: 30px;
    height: 30px; 
    border: 1.75px solid #20242A;
    cursor: pointer;
    text-shadow: none;
}

.newGame {
    font-family: 'olympic_carrier_halftone_itIt';
    font-size: 5rem;
    flex-basis: 500px;        
    border: 1.75px solid #20242A;
    border-radius: 3px;
    cursor: pointer;
    color: rgb(2, 109, 197);
    text-shadow: -1px 0 #FCEC09, 0 1px #FCEC09, 1px 0 #FCEC09, 0 1px #FCEC09;
    font-family: 'olympic_carrier_halftone_itIt';
    background-color: #FCEC09;
}

.newGame:hover {
    transform: scale(1.05);
}
  
.scoreBoard{
    border-bottom: 3.5px solid #FCEC09;
    display: flex;
    justify-content: space-around;
    background-color: rgb(2, 109, 197);
    align-items: center;
    color: #FCEC09;
}
 
.score-container {
    flex-basis: 100px;
}

.hidden {
    background-color: rgb(2, 109, 197);
}

.reaveled {
    background-color: #c5b802;
}

.bombed {
    background-color: red;
}

.flagged {
    background-color: #c5b802;
    color: rgb(2, 109, 197);
}

.onMobile {
    color: #FCEC09;
    text-shadow: -2px 0 rgb(2, 109, 197), 0 2px rgb(2, 109, 197), 2px 0 rgb(2, 109, 197), 0 2px rgb(2, 109, 197);
    font-size: 3rem;
    font-family: 'olympic_carrier_halftone_itIt';
    flex-direction: column;
    width: 100%;
    height: 40vh;
    display: none;
    border-top: 2px solid #FCEC09;
    justify-content: flex-start;
    padding: 1rem;
}





@media (max-width: 1100px) {
    .gameBoard {
        display: none;
    }
    body {
        background-image: none;
        background-color: rgb(2, 109, 197);

    }
    .onMobile {
        display: flex;
    }

    .title {
        font-size: 3rem;
        height: 10vh;
    }
}



@media (max-width: 500px) {

    .title {
        font-size: 2rem;
    }
}